name: Preprocessing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  preprocessing:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          pip install pandas scikit-learn

      - name: Run preprocessing
        run: python preprocessing/automate_Alvino-Dienova.py

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
